In [191]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
try:
    import seaborn
except ImportError:
    pass

---

## Տնային աշխատանք 1

Սա առաջին տնային աշխատանքն է։ Տնային աշխատանքը բաղկացած է լինելու վարժություններից, որոնք հնարավոր է անել օգտագործելով լեկցիայում ներկայացված նյութերը, սակայն չի բացառվում այլ հրամանների օգտագործումը նույնպես։ 

Տնային աշխատանքը կատարելու կանոններ. 

1. Աշխատանքը պետք է կատարել ինքնուրույն, քննարկել տնայինը կարելի է, սակայն արտագրել՝ ոչ։ 
2. Այս տնայինի հանձնելու վերջնաժամկետը՝ հինգշաբթի ($11.03.2021$) մինչև կեսգիշեր։
3. Յուրաքանչյուր վարժությունը կատարելիս բացատրությունները պարտադիր են։
4. Արտագրելու դեպքում ստացված գնահատականը կբաժանվի արտոգրողների (ներառյալ ումից որ արտագրել են) միջև։ 


Բոլոր վարժություններում պետք է օգտվել լեկցիայի ժամանակ ստեղծված և օգտագործված տվյալները (եթե նոր տվյալների բազա առաջարկված չէ)։

## Վարժությունների ցանկ 1

In [192]:
# redefining the example objects
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})

data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London


Ավելացնել սյուն `density` անունով մարդկանց խտության գործակցով (`population` սյունակում տվյալները միավորը միլիոնն է)։

In [193]:
density=np.array(countries['population']*1000000)/np.array(countries['area'])   #Սահմանեցի density-ն:
countries['density']=density                                                    #Ստեղծեցի density անունով սյուն՝ density-ի սահմանված արժեքներով:
countries                                                                       #Տպում եմ արդեն "density" սյունով համալրված countries DataFrame-ը:

          country  population    area    capital     density
0         Belgium        11.3   30510   Brussels  370.370370
1          France        64.3  671308      Paris   95.783158
2         Germany        81.3  357050     Berlin  227.699202
3     Netherlands        16.9   41526  Amsterdam  406.973944
4  United Kingdom        64.9  244820     London  265.092721

<div class="alert alert-success">
    <b>EXERCISE</b>: Ընտրել այն երկրների մայրաքաղաք (capital) և բնակչություն (population) սյուները, որոնց բնակչության խտությունը մեծ է 250-ից։
</div>

In [194]:
countries[['capital','population']][density>250]    #Այստեղ բացատրելու բան չկա: Ի դեպ, որտեղ որ շատ ակնհայտ է, էլ չեմ բացատրի:

     capital  population
0   Brussels        11.3
3  Amsterdam        16.9
4     London        64.9

<div class="alert alert-success">
    <b>EXERCISE</b>: Փոխել Ֆրանսիայի մայրաքաղաքը և դնել Մարսել (Marseille). 
</div>

In [195]:
countries.loc[1, 'capital']='Marseille' #loc-ը ցույց է տալիս կոնկրետ տարրը՝ գրված տվյալ տողի ու սյան հատման տեղում: 
#                                       Այս դեպքում "1" ինդեքսով տողի և 'capital' key-ով սյան հատման տեղում գրված տարրը "Paris"-ն էր, 
#                                       որը փոխարինեցինք "Marseille"-ով: 
countries

          country  population    area    capital     density
0         Belgium        11.3   30510   Brussels  370.370370
1          France        64.3  671308  Marseille   95.783158
2         Germany        81.3  357050     Berlin  227.699202
3     Netherlands        16.9   41526  Amsterdam  406.973944
4  United Kingdom        64.9  244820     London  265.092721

<div class="alert alert-success">
    <b>EXERCISE</b>: Ընտրել այն երկրները, որոնց բնակչության խտությունը ընկած է (100, 250) միջակայքում։
</div>

In [299]:
countries[countries['density'].between(100, 250)] 

#range-ը կամ np.arange-ը այս դեպքում նպատակահարմար չէր, քանի որ density-ն ամբողջ թիվ չէ:

   country  population    area capital     density
2  Germany        81.3  357050  Berlin  227.699202

<div class="alert alert-success">
    <b>EXERCISE</b>: Ուսումնասիրել isin մեթոդը և ստուգել կան արդյոք Madrid, Washington, Berlin և London քաղաքները տվյալների բազայում մեկ հրամանով։
</div>

**I տարբերակ**

$(Սա \ մեկ \  հրամանով \ չէ, \ բայց \ ավելի \ տեսանելի \ է,  \ կարծում \ եմ):$

In [197]:
data2 = {'city': ['Madrid', 'Washington', 'Berlin', 'London']}
cities = pd.DataFrame(data2)
cities['is_in']=cities['city'].isin(countries['capital'])
cities

# DataFrame ստեղծեցի նշված 4 քաղաքներով, ապա "is_in" անունով, բուլյան արժեքներ պարունակող սյուն, 
# որը կարտածի "True" այն քաղաքների անվան դիմաց, որոնք կան նաև մեր հիմնական(սկզբնական) տվյալների բազայում:

         city  is_in
0      Madrid  False
1  Washington  False
2      Berlin   True
3      London   True

**II տարբերակ**

In [198]:
print(countries['country'][countries['capital'].isin(['Madrid', 'Washington', 'Berlin', 'London'])])
print("\nՎերոնշյալներից սրանք կան մեր տվյալների բազայում, մյուսները՝ ոչ:")

2           Germany
4    United Kingdom
Name: country, dtype: object

Վերոնշյալներից սրանք կան մեր տվյալների բազայում, մյուսները՝ ոչ:

<div class="alert alert-success">
    <b>EXERCISE</b>: Գտնել այն մայրաքաղաքները որոնք սկսվում են 'B' տառով (տես. .startswith() հրամանը)։
</div>

In [199]:
countries['capital'][countries['capital'].str.startswith('B')]

0    Brussels
2      Berlin
Name: capital, dtype: object

Հաջորդ առաջադրանքների համար կարող է օգտակար լինել հետևյալ հղումը։ http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

<div class="alert alert-success">
    <b>EXERCISE</b>: Ընտրել բոլոր այն երկրները որոնց մայրաքաղաքի անվան մեջ կա 5-ից ավել տառ։
</div>

In [200]:
countries['country'][countries['capital'].str.len()>5]    #.str.len()-ը որոշում է string տիպի տարրի երկարությունը (սիմվոլների, տառերի քանակը):

0           Belgium
1            France
2           Germany
3       Netherlands
4    United Kingdom
Name: country, dtype: object

<div class="alert alert-success">
    <b>EXERCISE</b>: Ընտրել բոլոր այն երկրները որոնց մայրաքաղաքի անվան մեջ կա 5-ից ավել, սակայն 9-ից պակաս տառ։
</div>

In [202]:
countries['country'][countries['capital'].str.len().isin(np.arange(5,9))]

0           Belgium
2           Germany
4    United Kingdom
Name: country, dtype: object

 <div class="alert alert-success">
    <b>EXERCISE</b>: Ընտրել բոլոր այն երկրները որոնց մայրաքաղաքի անվան մեջ կա 'am' տառերի հաջորդականությունը։
</div>
</div>

In [203]:
countries['country'][countries['capital'].str.contains('am')]

# .str.contains('__')-ը ստուգում է՝ արդյոք մեր «բառը» (string) պարունակում է մեր նշած «ենթաբառը»:

3    Netherlands
Name: country, dtype: object

## Վարժությունների ցանկ 2

Այս վարժությունները հիմնված են սրա վրա [PyCon tutorial of Brandon Rhodes](https://github.com/brandon-rhodes/pycon-pandas-tutorial/)։ Տվյալները կարելի է բեռնել այստեղից. [`titles.csv`](https://drive.google.com/open?id=0B3G70MlBnCgKajNMa1pfSzN6Q3M) և [`cast.csv`](https://drive.google.com/open?id=0B3G70MlBnCgKal9UYTJSR2ZhSW8)։


**Չմոռանաք տվյալները պահպանել `data`-ի մեջ։**

In [204]:
cast = pd.read_csv('cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [205]:
titles = pd.read_csv('titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

<div class="alert alert-success">
    <b>EXERCISE</b>: Քանի՞ ֆիլմ կա titles տվյալների բազայում։
</div>

In [206]:
len(titles)

215981

<div class="alert alert-success">
    <b>EXERCISE</b>: Ո՞ր երկու ֆիլմերն են ամենահները։
</div>

In [277]:
titles['title'][titles['year'].nsmallest(2)]
#nsmallest մեթոդը ցույց է տալիս ամենափոքր n հատ տարրերը:
#Գրում ենք   df_name[column].nsmallest(n),   կամ՝  df_name.nsmallest(n, column)

1894            Blackspot
1897    Revancha de mujer
Name: title, dtype: object

<div class="alert alert-success">
    <b>EXERCISE</b>: Քանի՞ ֆիլմերի անվանումներում կա "Hamlet"-ը։
</div>

In [208]:
len(titles[titles['title'].str.contains("Hamlet")]) #contains-ին արդեն անդրադարձել եմ:

54

<div class="alert alert-success">
    <b>EXERCISE</b>: Քանի՞ ֆիլմ է նկարահանվել 2001-ից մինչև 2021։
</div>

In [209]:
len(titles[titles['year'].isin(np.arange(2001, 2022))]) #Գրում ենք մինչև 2022, որ 2021-ի ֆիլմերն էլ ներառի:

92783

<div class="alert alert-success">
    <b>EXERCISE</b>: Քանի՞ դերասան կա Inception ֆիլմում։
</div>

In [210]:
a=(cast[cast['title']=="Inception"])
len(a)

73

<div class="alert alert-success">
    <b>EXERCISE</b>: Քանի՞ դեր կա Inception ֆիլմում, որոնք չեն գնահատվել "n" արժեքով։
</div>

In [211]:
len(a[a['n']%1==0])

#Այնպես արեցի, որ 'n'-ի միայն թվերով տողերը վերցնի:
#Այս պահին այս ձևը անցավ մտքովս:

51

<div class="alert alert-success">
    <b>EXERCISE</b>: Գտնել այն ֆիլմերի քանակը, որոնք գնահատվել են "n" արժեքով 50-ից բարձր։ 
</div>

In [212]:
len(cast[cast['n']>50])

104134

<div class="alert alert-success">
    <b>EXERCISE</b>: Ընտրեք այն ամենահին ֆիլմը, որի 3-րդ տառը ձեր անվան առաջին տառն է և նկարահանվել է 1970-ից հետո։ 
</div>

*Իմ անվան առաջին տառը անգլերենում չկա: `«Ծ»` տառը անգլերենում երկու տառով է գրվում՝ `"Ts"`: Այդ պատճառով պահանջը մի փոքր ձևափոխում եմ. "փնտրելու եմ" այն ֆիլմերը, որոնց* $\ $**3**-*րդ տառը* `"t"` *է*, $\ $**4**-*րդը*՝ `"s"`:

In [224]:
b=titles[titles['title'].astype(str).str[2]=='t'][titles['title'].astype(str).str[3]=='s'][titles['year']>1970]
b
.astype(str).str[n]-ը (ինտերնետից եմ պեղել) ցույց է տալիս string-ի n-րդ կարգահամարի (n+1-րդ) սիմվոլը:

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                                         title  year
284                        Acts of Imagination  2006
441                                 Kotsutsubo  2012
725                                       Hits  2014
773                                       Pets  2002
3282                            Litsom k litsu  1986
...                                        ...   ...
211244                  Outside the Lines (II)  2010
212315                     Satsujin Douga Site  2010
212663  Jitsuroku onna kanbetsusho: sei-jigoku  1975
212886                                    Bits  2009
215433                          Mitsu no aware  2016

[198 rows x 2 columns]

In [226]:
b[b['year']==1971]       #1970-հետո ու ամենահինը 1971 թ.-ինն է:

#Այս ձևով եմ անում, քանի որ ավելի արդյունավետ եղանակ չգտա:
#b[b['year'].nsmallest(1)]-ը, չգիտես՝ ինչու, չաշխատեց:

                         title  year
128935               Putsalang  1971
130697  Antsyali ardzaganqnere  1971
206464              Metskapten  1971

<div class="alert alert-success">
    <b>EXERCISE</b>: Այդ ֆիլմի համար գտնել այն դերակատարի (character) անունը (name) ով ստացել է ամենաբարձր "n" արժեքը։
</div>

*Քանի որ արդյունքում ինձ մոտ 3 ֆիլմ ստացվեց, մեկն եմ վերցնում՝* ***հայկականը:***

In [238]:
cast[cast['title']=='Antsyali ardzaganqnere']

                          title  year  ...       character     n
5013     Antsyali ardzaganqnere  1971  ...        Artavazd   1.0
1016607  Antsyali ardzaganqnere  1971  ...         Zeifert   9.0
1108015  Antsyali ardzaganqnere  1971  ...           Horst   5.0
1296206  Antsyali ardzaganqnere  1971  ...           Heini   3.0
1619147  Antsyali ardzaganqnere  1971  ...       Eberstein   6.0
2243042  Antsyali ardzaganqnere  1971  ...          Sarkis   8.0
2247976  Antsyali ardzaganqnere  1971  ...            Hans   4.0
2740858  Antsyali ardzaganqnere  1971  ...   Gertrude Yuta   2.0
3042404  Antsyali ardzaganqnere  1971  ...          Martha   7.0
3318083  Antsyali ardzaganqnere  1971  ...  Radio-operator  10.0

[10 rows x 6 columns]

In [279]:
f=cast[cast['title']=='Antsyali ardzaganqnere']
f['name'][f['n']==float(f['n'].nlargest(1))]

# Բայց հետաքրքիր է, որ առանց float-ի error է տալիս:
# f['name'][f['n'].nlargest(1)]   Պետք է, որ այս ձևով էլ աշխատեր, բայց չաշխատեց, ինչպես նախորդում: Չեմ հասկանում...:

3318083    Galina Yatskina
Name: name, dtype: object

<div class="alert alert-success">
    <b>EXERCISE</b>: Կատարել վերջին առաջադրանքը մեկ հրամանով։
</div>

In [280]:
f['name'][cast['title']=='Antsyali ardzaganqnere'][f['n']==float(f['n'].nlargest(1))]

3318083    Galina Yatskina
Name: name, dtype: object